.paperBackground {
  background-image: url("../../public/images/tealWatercolor.png"), url("../../public/images/grainPaper.png");
  background-repeat: no-repeat, repeat;
  background-position: top -450px left -115px;
  background-size: 900px;
  background-blend-mode: multiply;
}

.paperBackground::before {
  background-image: url("../../public/images/tealWatercolor.png"), url("../../public/images/grainPaper.png");
  transform: rotate(180deg) 
}

.drawnBorder {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
}