.paperBackground {
  background-image: url("/images/teal-watercolor.png"), url("/images/grain-paper.png");
  background-repeat: no-repeat, repeat;
  background-position: top -450px left -120px;
  background-size: 900px;
  background-blend-mode: multiply;
}

.drawnBorder {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
}